In [64]:
import pandas as pd
import numpy as np
df = pd.read_csv('GLC.csv')

In [65]:
df

,landslide_category,landslide_size,fatality_count,event_date,landslide_trigger,landslide_setting,country_name,country_code,admin_division_population,longitude,latitude
0,landslide,large,11.0,8/1/2008 0:00,rain,mine,China,CN,0.0,107.450000,32.562500
1,mudslide,small,0.0,1/2/2009 2:00,downpour,unknown,United States,US,36619.0,-122.663000,45.420000
2,landslide,large,10.0,1/19/2007 0:00,downpour,unknown,Peru,PE,14708.0,-75.358700,-11.129500
3,landslide,medium,1.0,7/31/2009 0:00,monsoon,unknown,Nepal,NP,20908.0,81.708000,28.837800
4,landslide,medium,0.0,10/16/2010 12:00,tropical_cyclone,unknown,Philippines,PH,798634.0,123.897800,10.333600
...,...,...,...,...,...,...,...,...,...,...,...
11028,landslide,medium,27.0,4/1/2017 13:34,rain,natural_slope,NaN,NaN,NaN,111.679944,-7.853409
11029,landslide,small,2.0,3/25/2017 17:32,other,natural_slope,NaN,NaN,NaN,75.680611,33.403080
11030,landslide,small,1.0,12/15/2016 5:00,unknown,urban,NaN,NaN,NaN,91.772042,26.181606
11031,translational_slide,large,24.0,4/29/2017 19:03,downpour,natural_slope,NaN,NaN,NaN,73.472379,40.886395
11032,mudslide,small,2.0,3/13/2017 14:32,construction,urban,NaN,NaN,NaN,78.356505,17.465630

In [66]:
#Adds numeric codes for each string feature.
df['landslide_category_codes'] = df['landslide_category'].astype('category').cat.codes
df['landslide_size_codes'] = df['landslide_size'].astype('category').cat.codes
df['landslide_trigger_codes'] = df['landslide_trigger'].astype('category').cat.codes
df['landslide_setting_codes'] = df['landslide_setting'].astype('category').cat.codes
df['country_code_codes'] = df['country_code'].astype('category').cat.codes

In [67]:
#This is just for reference. We probably don't actually need to drop this data, but this sends the strings away.
del df['landslide_category']
del df['landslide_size']
del df['landslide_trigger']
del df['landslide_setting']
del df['country_name']
del df['country_code']

In [68]:
df

,fatality_count,event_date,admin_division_population,longitude,latitude,landslide_category_codes,landslide_size_codes,landslide_trigger_codes,landslide_setting_codes,country_code_codes
0,11.0,8/1/2008 0:00,0.0,107.450000,32.562500,5,1,12,8,29
1,0.0,1/2/2009 2:00,36619.0,-122.663000,45.420000,6,3,3,12,129
2,10.0,1/19/2007 0:00,14708.0,-75.358700,-11.129500,5,1,3,12,99
3,1.0,7/31/2009 0:00,20908.0,81.708000,28.837800,5,2,9,12,95
4,0.0,10/16/2010 12:00,798634.0,123.897800,10.333600,5,2,14,12,101
...,...,...,...,...,...,...,...,...,...,...
11028,27.0,4/1/2017 13:34,NaN,111.679944,-7.853409,5,2,12,9,-1
11029,2.0,3/25/2017 17:32,NaN,75.680611,33.403080,5,3,11,9,-1
11030,1.0,12/15/2016 5:00,NaN,91.772042,26.181606,5,3,15,13,-1
11031,24.0,4/29/2017 19:03,NaN,73.472379,40.886395,12,1,3,9,-1
11032,2.0,3/13/2017 14:32,NaN,78.356505,17.465630,6,3,0,13,-1

In [69]:
df['datetime'] = pd.to_datetime(df['event_date'], format='%m/%d/%Y %H:%M')

df['year'] = df['datetime'].dt.year
df['day_of_year'] = df['datetime'].dt.dayofyear
df['minute_of_day'] = df['datetime'].dt.hour * 60 + df['datetime'].dt.minute
df['unix_timestamp'] = df['datetime'].astype('int64') // 10**9  # Convert to seconds

del df['datetime']
del df['event_date']

In [74]:
df

,fatality_count,admin_division_population,longitude,latitude,landslide_category_codes,landslide_size_codes,landslide_trigger_codes,landslide_setting_codes,country_code_codes,year,day_of_year,minute_of_day,unix_timestamp
0,11.0,0.0,107.450000,32.562500,5,1,12,8,29,2008,214,0,1217548800
1,0.0,36619.0,-122.663000,45.420000,6,3,3,12,129,2009,2,120,1230861600
2,10.0,14708.0,-75.358700,-11.129500,5,1,3,12,99,2007,19,0,1169164800
3,1.0,20908.0,81.708000,28.837800,5,2,9,12,95,2009,212,0,1248998400
4,0.0,798634.0,123.897800,10.333600,5,2,14,12,101,2010,289,720,1287230400
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11028,27.0,NaN,111.679944,-7.853409,5,2,12,9,-1,2017,91,814,1491053640
11029,2.0,NaN,75.680611,33.403080,5,3,11,9,-1,2017,84,1052,1490463120
11030,1.0,NaN,91.772042,26.181606,5,3,15,13,-1,2016,350,300,1481778000
11031,24.0,NaN,73.472379,40.886395,12,1,3,9,-1,2017,119,1143,1493492580
11032,2.0,NaN,78.356505,17.465630,6,3,0,13,-1,2017,72,872,1489415520